* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #191414;
  font-family: 'Montserrat', sans-serif;
  color:#fff;
}

:root {
  font-size: 16px;
}

#root {
  width: 100%;
}

@media screen and (max-width: 60rem){ /* 950px */
  :root {
      font-size: 14px;
  }
}